@model IEnumerable<HtmlSampleInfo>



@{
    this.ViewData["Title"] = "All stored HTML";
}

@if (this.TempData.ContainsKey("Success"))
{
    <div class="alert alert-success alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @this.TempData["Success"]
    </div>
}

<div class="">
    <div class="text-center">
        <h1>All stored HTML codes in your list</h1>
    </div>



    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">CreatedOn</th>
                <th scope="col">ModifiedOn</th>
                <th scope="col">Delete</th>
                <th scope="col">View</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td>@item.CreatedOn</td>
                    <td>@item.ModifiedOn</td>
                    <td><a class="btn btn-danger" data-toggle="modal" asp-controller="Html" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
                    <td><a class="btn btn-info" asp-controller="Home" asp-action="Index" asp-route-id="@item.Id">View</a></td>
                </tr>
            </tbody>
        }

    </table>



    <div class="modal fade" id="rejectButton" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-titlete text-center" id="staticBackdropLabel" style="color:darkred"><u>Confirmation message!</u></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="bg-light">Are you sure you want to delete this data?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info btn-icon" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger btn-icon">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>


